* {
  border: 0;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1201px){
      body {
    position: relative; 
  }
    .header1{
        width: 100vw;
        height: 10vh;
        font-size: 25px;
    }
    .header-text
    {
        padding-top:20px;
    }
      #section1 
    {
        height:100vh;
        width: 100%;
        color: #fff;
    }

#myBtn{
    background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    align-items: center;
    margin-left: 60px;
    border-radius: 5px;
}
    .row{
        margin-left: 60px;
    }
label{
       background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-top: 50px;
    align-items: center;
    margin-left: 400px;
    border-radius: 5px;
     }
    .left-space{
        margin-left: 350px;
    }

input[type="file"] {
    display: none;
}
#textar{
    border: 3px solid black;
    margin-left: 700px;
    height: 350px;
    width: 300px;
    margin-top: 10px;
}
    .row{
        margin-left: -100px;
    }
    .row1{
        margin-left: 60px;
    }
    .heading{
        color: black;
        margin-left: 200px;
        margin-top: 30px;
    }
    .heading1{
        color: black;
        margin-left: 800px;
        margin-top: -380px;
    }
    .labla{
        margin-left: 0px;
        font-size: 15px;
    }
    .ss{
        width: 300px;
        height: 300px;
        border: 3px solid black;
        margin-left: -40px;
    }
    .button{
     background: #04AA6D;
    color: white;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
}
    .btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
        margin-left: 170px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

    .custom-select {
  position: relative;
  font-family: Arial;
        margin-bottom: 20px;
        border-radius: 5px;
        margin-top: 30px;
        margin-left: 400px;
        width:400px;
        align-content: center;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #04AA6D;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: #04AA6D;
  top: 7px;
    margin-bottom: 20px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #04AA6D;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.rectangle{
    margin-top: 10px;
    margin-left: 80px;
     width:350px;
    height:350px;
    border: 3px solid black;
}
    .email{
        margin-left: 500px;
    }
}
@media screen and (min-width: 1001px) and (max-width: 1200px){
     body {
    position: relative; 
  }
    .header1{
        width: 100vw;
        height: 10vh;
        font-size: 25px;
    }
    .header-text
    {
        padding-top:40px;
        font-size:40px;
    }
      #section1 
    {
        height:100vh;
        width: 100%;
        color: #fff;
    }

#myBtn{
    background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    align-items: center;
    margin-left: 60px;
    border-radius: 5px;
}
    .row{
        margin-left: 60px;
    }
label{
       background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-top: 50px;
    align-items: center;
    margin-left: 400px;
    border-radius: 5px;
     }
    .left-space{
        margin-left: 250px;
    }

input[type="file"] {
    display: none;
}
#textar{
    border: 3px solid black;
    margin-left: 500px;
    height: 350px;
    width: 300px;
    margin-top: 10px;
}
    .row{
        margin-left: -100px;
    }
    .row1{
        margin-left: 60px;
    }
    .heading{
        color: black;
        margin-left: 200px;
        margin-top: 30px;
    }
    .heading1{
        color: black;
        margin-left: 600px;
        margin-top: -380px;
    }
    .labla{
        margin-left: 0px;
        font-size: 15px;
    }
    .ss{
        width: 300px;
        height: 300px;
        border: 3px solid black;
        margin-left: -40px;
    }
    .button{
     background: #04AA6D;
    color: white;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
}
    .btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
        margin-left: 170px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

    .custom-select {
  position: relative;
  font-family: Arial;
        margin-bottom: 20px;
        border-radius: 5px;
        margin-top: 30px;
        margin-left: 250px;
        width:400px;
        align-content: center;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #04AA6D;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: #04AA6D;
  top: 7px;
    margin-bottom: 20px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #04AA6D;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.rectangle{
    margin-top: 10px;
    margin-left: 20px;
     width:350px;
    height:350px;
    border: 3px solid black;
}
    .email{
        margin-left: 300px;
    }
}

@media screen and (min-width: 851px) and (max-width: 1000px){
      body {
    position: relative; 
  }
    .header1{
        width: 100%;
        height: 10vh;
        font-size: 25px;
    }
     .header-text
    {
        padding-top:40px;
        
    }
      #section1 
    {
        height:100vh;
        width: 100%;
        color: #fff;
    }

#myBtn{
    background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    align-items: center;
    margin-left: 60px;
    border-radius: 5px;
}
    .row{
        margin-left: 60px;
    }
label{
       background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-top: 50px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
     }


input[type="file"] {
    display: none;
}
#textar{
    border: 3px solid black;
    margin-left: -20px;
    height: 200px;
    width: 250px;
}
    .row{
        margin-left: -100px;
    }
    .row1{
        margin-left: 60px;
    }
    .heading{
        color: black;
        margin-left: 80px;
        margin-top: 30px;
    }
    .labla{
        margin-left: 0px;
        font-size: 15px;
    }
    .ss{
        width: 300px;
        height: 300px;
        border: 3px solid black;
        margin-left: -40px;
    }
    .button{
     background: #04AA6D;
    color: white;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
}
    .btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
        margin-left: 170px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

    .custom-select {
  position: relative;
  font-family: Arial;
        margin-bottom: 20px;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 0px;
        width:200px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #04AA6D;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: #04AA6D;
  top: 7px;
    margin-bottom: 20px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #04AA6D;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.rectangle{
    margin-top: 10px;
    margin-left: -20px;
     width:250px;
    height:250px;
    border: 3px solid black;
}
}
@media screen and (min-width: 701px) and (max-width: 850px){
      body {
    position: relative; 
  }
    .header1{
        width: 100%;
        height: 10vh;
        font-size: 25px;
    }
     .header-text
    {
        padding-top:20px;
    }
      #section1 
    {
        height:100vh;
        width: 100%;
        color: #fff;
    }

#myBtn{
    background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    align-items: center;
    margin-left: 60px;
    border-radius: 5px;
}
    .row{
        margin-left: 60px;
    }
label{
       background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-top: 50px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
     }


input[type="file"] {
    display: none;
}
#textar{
    border: 3px solid black;
    margin-left: -20px;
    height: 300px;
    width: 350px;
}
    .row{
        margin-left: -100px;
    }
    .row1{
        margin-left: 200px;
    }
    .heading{
        color: black;
        margin-left: 120px;
        margin-top: 30px;
    }
    .labla{
        margin-left: 0px;
        font-size: 15px;
    }
    .ss{
        width: 300px;
        height: 300px;
        border: 3px solid black;
        margin-left: -40px;
    }
    .button{
     background: #04AA6D;
    color: white;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
}
    .btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
        margin-left: 170px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

    .custom-select {
  position: relative;
  font-family: Arial;
        margin-bottom: 20px;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 70px;
        width:200px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #04AA6D;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: #04AA6D;
  top: 7px;
    margin-bottom: 20px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #04AA6D;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.rectangle{
    margin-top: 10px;
    margin-left: -20px;
     width:350px;
    height:350px;
    border: 3px solid black;
}
     .email{
        margin-left: 60px;
    }
}
@media screen and (min-width: 601px) and (max-width: 700px){
      body {
    position: relative; 
  }
    .header1{
        width: 100%;
        height: 10vh;
        font-size: 25px;
    }
      #section1 
    {
        height:100vh;
        width: 100%;
        color: #fff;
    }

#myBtn{
    background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    align-items: center;
    margin-left: 60px;
    border-radius: 5px;
}
    .row{
        margin-left: 60px;
    }
label{
       background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-top: 50px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
     }


input[type="file"] {
    display: none;
}
#textar{
    border: 3px solid black;
    margin-left: -20px;
    height: 200px;
    width: 250px;
}
    .row{
        margin-left: -100px;
    }
    .row1{
        margin-left: 60px;
    }
    .heading{
        color: black;
        margin-left: 80px;
        margin-top: 30px;
    }
    .labla{
        margin-left: 0px;
        font-size: 15px;
    }
    .ss{
        width: 300px;
        height: 300px;
        border: 3px solid black;
        margin-left: -40px;
    }
    .button{
     background: #04AA6D;
    color: white;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
}
    .btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
        margin-left: 170px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

    .custom-select {
  position: relative;
  font-family: Arial;
        margin-bottom: 20px;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 0px;
        width:200px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #04AA6D;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: #04AA6D;
  top: 7px;
    margin-bottom: 20px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #04AA6D;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.rectangle{
    margin-top: 10px;
    margin-left: -20px;
     width:250px;
    height:250px;
    border: 3px solid black;
}
   
}
@media screen and (min-width: 501px) and (max-width: 600px){
      body {
    position: relative; 
  }
    .header1{
        width: 100%;
        height: 10vh;
        font-size: 25px;
    }
      #section1 
    {
        height:100vh;
        width: 100%;
        color: #fff;
    }

#myBtn{
    background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    align-items: center;
    margin-left: 60px;
    border-radius: 5px;
}
   
label{
       background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-top: 50px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
     }


input[type="file"] {
    display: none;
}
#textar{
    border: 3px solid black;
    margin-left: 40px;
    height: 250px;
    width: 300px;
}
    .row{
        margin-left: -100px;
    }
    .row1{
        margin-left: 60px;
    }
    .heading{
        color: black;
        margin-left: 160px;
        margin-top: 30px;
    }
    .labla{
        margin-left: 0px;
        font-size: 15px;
    }
    .ss{
        width: 300px;
        height: 300px;
        border: 3px solid black;
        margin-left: -40px;
    }
    .button{
     background: #04AA6D;
    color: white;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
}
    .btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
        margin-left: 170px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

    .custom-select {
  position: relative;
  font-family: Arial;
        margin-bottom: 20px;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 90px;
        width:200px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #04AA6D;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: #04AA6D;
  top: 7px;
    margin-bottom: 20px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #04AA6D;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}



.rectangle{
    margin-top: 10px;
    margin-left: 40px;
     width:300px;
    height:300px;
    border: 3px solid black;
}
    .email{
        margin-left: 90px;
    }
}
@media screen and (min-width: 401px) and (max-width: 500px){
      body {
    position: relative; 
  }
    .header1{
        width: 100%;
        height: 10vh;
        font-size: 25px;
    }
      #section1 
    {
        height:100vh;
        width: 100%;
        color: #fff;
    }

#myBtn{
    background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    align-items: center;
    margin-left: 60px;
    border-radius: 5px;
}
    .row{
        margin-left: 60px;
    }
label{
       background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-top: 50px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
     }


input[type="file"] {
    display: none;
}
#textar{
    border: 3px solid black;
    margin-left: -20px;
    height: 200px;
    width: 250px;
}
    .row{
        margin-left: -100px;
    }
    .row1{
        margin-left: 90px;
    }
    .heading{
        color: black;
        margin-left: 80px;
        margin-top: 30px;
    }
    .labla{
        margin-left: 0px;
        font-size: 15px;
    }
    .ss{
        width: 300px;
        height: 300px;
        border: 3px solid black;
        margin-left: -40px;
    }
    .button{
     background: midnightblue;
    color: white;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
}
    .btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
        margin-left: 170px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

    .custom-select {
  position: relative;
  font-family: Arial;
        margin-bottom: 20px;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 0px;
        width:200px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #04AA6D;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: #04AA6D;
  top: 7px;
    margin-bottom: 20px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #04AA6D;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.rectangle{
    margin-top: 10px;
    margin-left: -20px;
     width:250px;
    height:250px;
    border: 3px solid black;
}
}

@media screen and (min-width: 301px) and (max-width: 400px){
      body {
    position: relative; 
  }
    .header1{
        width: 100%;
        height: 10vh;
        font-size: 20px;
    }
      #section1 
    {
        height:100vh;
        width: 100%;
        color: #fff;
    }

#myBtn{
    background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    align-items: center;
    margin-left: 60px;
    border-radius: 5px;
}
    .row{
        margin-left: 60px;
    }
label{
       background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-top: 50px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
     }


input[type="file"] {
    display: none;
}
#textar{
    border: 3px solid black;
    margin-left: -20px;
    height: 200px;
    width: 250px;
}
    .row{
        margin-left: -100px;
    }
    .row1{
        margin-left: 60px;
    }
    .heading{
        color: black;
        margin-left: 80px;
        margin-top: 30px;
    }
    .labla{
        margin-left: 0px;
        font-size: 15px;
    }
    .ss{
        width: 300px;
        height: 300px;
        border: 3px solid black;
        margin-left: -40px;
    }
    .button{
     background: #04AA6D;
    color: white;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
}
    .btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
        margin-left: 170px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

    .custom-select {
  position: relative;
  font-family: Arial;
        margin-bottom: 20px;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 0px;
        width:200px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #04AA6D;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: #04AA6D;
  top: 7px;
    margin-bottom: 20px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #04AA6D;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.rectangle{
    margin-top: 10px;
    margin-left: -20px;
     width:250px;
    height:250px;
    border: 3px solid black;
}
}
@media screen and (max-width: 300px){
      body {
    position: relative; 
  }
    .header1{
        width: 100%;
        height: 10vh;
        font-size: 25px;
    }
      #section1 
    {
        height:100vh;
        width: 100%;
        color: #fff;
    }

#myBtn{
    background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    align-items: center;
    margin-left: 60px;
    border-radius: 5px;
}
    .row{
        margin-left: 60px;
    }
label{
       background: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-top: 50px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
     }


input[type="file"] {
    display: none;
}
#textar{
    border: 3px solid black;
    margin-left: -20px;
    height: 200px;
    width: 250px;
}
    .row{
        margin-left: -100px;
    }
    .row1{
        margin-left: 60px;
    }
    .heading{
        color: black;
        margin-left: 80px;
        margin-top: 30px;
    }
    .labla{
        margin-left: 0px;
        font-size: 15px;
    }
    .ss{
        width: 300px;
        height: 300px;
        border: 3px solid black;
        margin-left: -40px;
    }
    .button{
     background:#04AA6D;
    color: white;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
    margin-left: 150px;
    border-radius: 5px;
}
    .btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
        margin-left: 170px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

    .custom-select {
  position: relative;
  font-family: Arial;
        margin-bottom: 20px;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 0px;
        width:200px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #04AA6D;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: #04AA6D;
  top: 7px;
    margin-bottom: 20px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #04AA6D;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.rectangle{
    margin-top: 10px;
    margin-left: -20px;
     width:250px;
    height:250px;
    border: 3px solid black;
}
}